
{% set route_name = app.request.attributes.get('_route') %}
<nav class="menu">
  Menu

  <ul>
    {% for category in categories %}
      <li>
        <a href="{{ path('category:focus', { 'id' : category.id }) }}">
          {{ category.name }}
        </a>
      </li>
    {% endfor %}
  </ul>


</nav>