{% extends 'base.html.twig' %}

{% block title %}{{ country.name }}{% endblock %}

{% block body %}
  <div class="example-wrapper">
    <h1>{{ country.name }}</h1>

    {% for beer in country.beers %}
      <li>
        <a href="{{ path('beer:focus', { 'id' : beer.id }) }}">
          {{ beer.name }}
        </a>
      </li>
    {% endfor %}

  </div>
{% endblock %}
