{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    {# <section class="example-wrapper">

        This friendly message is coming from:
        <ul>
            {% for beer in beers %}
                <li>
                     <a href="{{ path('beer:focus', { 'id' : beer.id }) }}">
                        {{ beer.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section> #}

    <div class="wrapper--home">
        <div class="intro">
        <div class="intro__headline">
            <h1>United Colors of Beers</h1>
            <p>Decouvris des beers du monde</p>
            <nav>
            <div class="nav__link bg--blond">Blond</div>
            <div class="nav__link bg--brune">Brune</div>
            <div class="nav__link bg--blanche">Blanche</div>
            </nav>
        </div>
        
        </div>
        
        <section class="filter--latest">
            <h2> Des nouveau beers :</h2> 
        <div >
        <div class="wrapper__product">
            {% for beer in beers %}
                <li >
                <a class="product__preview" href="{{ path('beer:focus', { 'id' : beer.id }) }}">
                    <div class="product__preview__image bg--blond">
                    <div class="product__bg">
                        <div class="bg--color bg--bio"></div>
                        <div class="bg--color bg--menthe"></div>
                    </div>
                    <img class="product__image" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Corona_Extra_beer_bottle_%282019%29.png"/>
                    </div>
                    <div class="product__preview__text">
                    <p>{{ beer.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        
        <div class="product__preview">
            <div class="product__preview__image bg--blond">
            <div class="product__bg">
                <div class="bg--color bg--bio"></div>
                <div class="bg--color bg--menthe"></div>
            </div>
            <img class="product__image" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Corona_Extra_beer_bottle_%282019%29.png"/>
            </div>
            <div class="product__preview__text">
            <a href="#">Beer Name</a>
            </div>
        </div>
        
        </div>
        </section>
        
        

        </div>

{% endblock %}
