{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <section class="example-wrapper">

        This friendly message is coming from:
        <ul>
            {% for beer in beers %}
                <li>
                     <a href="{{ path('beer:focus', { 'id' : beer.id }) }}">
                        {{ beer.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
