.bg--blonde{
  background-color: #F5E06C;
}
.bg--brune{
  background-color: #AA9180;
}

.bg--blanche{
  background-color: #efefef;
}

.bg--houblon{
  background-color: #337e22;
}
.bg--rose{
  background-color: pink;
}
.bg--menthe{
  background-color:#448935;
}
.bg--grenadine{
  background-color: #6E1427;
}
.bg--réglisse{
  background-color: #373535;
}
.bg--marron{
  background-color: #BD6529;
}
.bg--whisky{
  background-color: #F2914F;
}
.bg--bio{
  background-color: #A6DC62;
}